.article {
  background-color: var(--bg-color-opacity);
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
  //margin-left: var(--space-2xs-xs); // I added this but it messes mobile view dunno how to get that radius in there on the left side
  border-radius: 1rem 0rem 0 0;

  @include sm {
    margin-left: var(--space-2xs-xs);
  }

  &__title {
    font-size: var(--step-4);
    line-height: 1.25;
    font-weight: $font-black;
    position: fixed;
    //top: clamp(5rem, calc(4.5rem + 12vw), 14rem);
    bottom: var(--space-xs);
    height: 0;
    width: fit-content;
    padding-top: calc(var(--gutter-b) - var(--space-2xs-xs));
    transform: rotate(-90deg) translateY(0) translateX(0%);
    transform-origin: top left;

    @include sm {
      margin-left: var(--space-3xs);
    }
  }

  &__text {
    padding-left: var(--step-5);
    //padding-right: var(--step-5);
    //background-color: aqua;
  }

  &__bit-01 {
    margin-bottom: var(--space-3xl);
    //background-color: rgb(158, 96, 21);

    @include lg {
      padding-left: 30px;
      border-left-width: 0.1rem;
      border-left-style: solid;
      border-left-color: var(--color-900);
    }
  }


  p {
    font-size: var(--step--0);
    margin-bottom: var(--space-s);

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.container {
  padding: calc(var(--space-m) + 1px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  //background-color: rgb(243, 32, 197);

  @include md {
    padding: var(--space-3xl);
  } 

  @include lg {
    padding: calc(var(--space-xl) + var(--space-3xl));
  }
}


.highlight-this-text{
  color: var(--accent-darker);
  font-weight:500;
  //background-color: var(--accent-darker);
}



/*------VOLUNTEER-------*/

input[type="checkbox"]{
  transform: scale(1.5);
  //margin-left: 11px;
  //outline: 1px solid #1e5180;
  accent-color: var(--accent);
  //border-color: var(--accent);
  //border-radius: 0px;
}

.volunteer-checklist{
  margin: 0px;
  padding: 0px;
  list-style: none outside none;
  line-height: var(--step-2);
}

.form-volunteer{
  display: flex;
  flex-flow: column;
  height: 50vh;
  //background-color: aquamarine;

  .input-volunteer-message{
    width: 100%;
    height: 100%;
  }
}
